/* General */

.d-none {
	display: none;
}

body {
	background-color: #212121;
	font-family: 'Heebo', sans-serif!important;
	margin: 0;
}

.bi {
	cursor: pointer;
}

.bi-suit-heart-fill, .bi-suit-heart {
	color: pink;
}

.bi-star, .bi-star-fill {
	color: yellow;
}