element.style {
}

.page-footer.dark {
  background-color: #040019;
}

@media (min-width:576px) {
  .page-footer {
    text-align: left;
  }
}

.page-footer {
  background-color: #fff;
  padding-top: 30px;
  text-align: center;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

element.style {
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.fondo {
  background: #040019;
}

@media (min-width:576px) {
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    /* width: 100%; */
    padding: 0!important;
  }

  .page-footer.dark h5 {
    color: #fff;
  }
  
  .page-footer h5 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
  }
  
  .h5, h5 {
    font-size: 25px;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  
  .page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }
  
  dl, ol, ul {
    margin-top: 0;
  }
  
  address, dl, ol, ul {
    margin-bottom: 1rem;
  }
  
  @media (min-width:768px) {
    .page-footer ul li {
      position: relative;
      padding-left: 10px;
    }
  }
  
  .page-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
  }
  
  .page-footer.dark a:focus, .page-footer.dark a:hover {
    color: #fff;
  }
  
  .page-footer a:focus, .page-footer a:hover {
    text-decoration: none;
    color: #1d2125;
  }
  
  .page-footer.dark a {
    color: #d2d1d1;
  }
  
  .page-footer a {
    color: #53595f;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  
  .page-footer.dark .footer-copyright {
    background-color: #040019;
    /* border-color: black; */
    border: none;
  }
  
  .page-footer .footer-copyright {
    background-color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #ededed;
  }
  
  .page-footer.dark .footer-copyright p {
    color: #ccc;
  }
  
  .page-footer .footer-copyright p {
    margin: 10px;
    color: #7d8288;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .page-footer .social-icons {
    margin-top: 20px;
    margin-bottom: 16px;
  }
  
  .page-footer {
    padding-top: 35px;
    /* border-top: 1px solid #ddd; */
    text-align: center;
    padding-bottom: 20px;
  }
  
  .page-footer .social-icons a:hover {
    opacity: 1;
  }
  
  .page-footer .social-icons a {
    font-size: 18px;
    margin: 0 3px;
    color: #fff;
    opacity: .75;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }
  
  .page-footer .social-icons a {
    font-size: 18px;
    margin: 0 3px;
    opacity: .75;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 34px;
  }

.icon-facebook{
    background-image: url(/css/images/icons/facebook.png);
}
  

  
    