/* .contenedor-general{
    width: 100%;
    height: auto;
} */

.contenedor-reproductor{
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contenedor-nav-fuera, .contenedor-nav-dentro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
}
/*___________________________________*/
/* body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
} */
/*___________________________________*/