.contenedor {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
}

h2 {
    cursor: pointer;
}

.music svg {
    font-size: 1.5em;
}

.fa-play-circle {
    display: none;
}

.music-recomendados, .music-mas-escuchado {
    background-color: #333333;
    padding: 10px;
    margin-top: 10px;
}

.recomendado-3, .recomendado-4, .recomendado-5, .lo-mas-escuchado-3, .lo-mas-escuchado-4, .lo-mas-escuchado-5 {
    display: none;
}

.recomendado-1, .recomendado-2, .recomendado-3, .recomendado-4, .recomendado-5, .lo-mas-escuchado-1, .lo-mas-escuchado-2, .lo-mas-escuchado-3, .lo-mas-escuchado-4, .lo-mas-escuchado-5 {
    cursor: pointer;
    transition: 1s;
}

.recomendado-1:hover, .recomendado-2:hover, .recomendado-3:hover, .recomendado-4:hover, .recomendado-5:hover, .lo-mas-escuchado-1:hover, .lo-mas-escuchado-2:hover, .lo-mas-escuchado-3:hover, .lo-mas-escuchado-4:hover, .lo-mas-escuchado-5:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
    transition: 1s;
}

.box-title {
    display: flex;
    justify-content: center;
}

.music-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.box-recomendados, .box-lo-mas-escuchado {
    display: flex;
    justify-content: space-around;
}

.imagen-box img {
    width: 200px;
    max-height: 150px;
    min-height: 150px;
}

.recomendado-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background: #212121;
}

.recomendado-description svg {
    margin: 10px;
}

@media (min-width: 1200px) {

    .recomendado-3, .recomendado-4, .recomendado-5, .lo-mas-escuchado-3, .lo-mas-escuchado-4, .lo-mas-escuchado-5 {
        display: block;
    }

    .music-title {
        width: 25%;
    }

    .fa-play-circle {
        display: none;
        font-size: 1.5em;
    }
}


