/*_________________________mobile first_________________*/

.inexistente {
  display: none;
}

.iniciar {
  min-width: 117px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*__________barra________*/

.navbar {
  background: #040019;
  color     : #fff;
}

.bar {
  width          : 100%;
  padding-left: 5%;
  padding-right: 5%;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items: center;
}

/*__________header________*/

.navbar header {
  display    : flex;
  align-items: center;
  justify-content: initial;
}

.navbar-title{
  min-width: 150px;
  margin-left: 15%;
}

.img-box img{
  max-width: 40px;
  cursor: pointer;
}

.navbar h1 {
  font-size: 1.5em;
  cursor   : pointer;
  margin   : 0;
}

/*__________area botones________*/

.btn-nav {
  margin : 1%;
  display: none;
}

#nav-dropdown-fuera {
  width  : 100%;
  height : 100%;
  display: flex !important;
}

.inicio{
  min-width: 118px;
}

/*__________area menu desplegable________*/

.menu-oculto {
  display: none;
}

.navbar ul,
.navbar ul li {
  list-style-type: none;
  margin         : 10px;
}

.existente {
  position           : relative;
  width              : 100%;
  border-top         : 1px solid #777;
  color              : white;
  background-color   : #040019;
}

.existente ul {
  color         : white;
  width         : 100%;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/*_________________________desktop_________________*/

@media only screen and (min-width: 1200px) {

  /*__________header________*/
  .img-box {
    width       : 10%;
    margin-right: 10px;
  }

  .navbar {
    min-height: 106px;
  }

  /*__________area botones________*/

  #nav-dropdown-fuera {
    display: none !important;
  }

  .area-btn {
    display       : flex;
    flex-direction: row;
  }

  .btn-nav {
    display: block;
  }

}