
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
  .row{
    overflow: hidden;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  *[class *= "col-"]{
    float: left;
    height: auto;
  }
  
  .col-12{
    width:100%; 
  }
  .col-11{
    width:91.666%; 
  }
  .col-10{
    width: 83.333%;
  }
  .col-9{
    width: 75%;
  }
  .col-8{
    width: 66.666%;
  }
  .col-7{
    width: 58.333%;
  }
  .col-6{
    width: 50%;
  }
  .col-5{
    width: 41.666%;
  }
  .col-4{
    width: 33.333%;
  }
  .col-3{
    width: 25%;
  }
  .col-2{
    width: 16.666%;
  }
  .col-1{
    width: 8.333%;
  }
  
  body {
    max-width: 100%;
    position: relative;
  
  }
  article{
    padding: 1.2em;
    display: block;
  }
  article div{
    padding-top: 0.3em;
    padding-bottom: 0.2em;
  }
  /*
  .img-album h4, .img-album h6{
    font-size:85%;
  }*/
  .icon{
    width: 15px;
    height: 15px;
  }
  
  .triangle{
    /*float: right;*/
    position: absolute;
    /* left: 0; */
    width: 1px;
    height: 1px;
    margin-left: 3.5vh;
    /* margin-left: 50px; */
    margin-top: 3.5%;
    /* margin-top: 50px; */
    opacity: 0.5;
    border-bottom: 100px solid var(--gris-15-color);
    border-left: 100px solid transparent;
    border-bottom-right-radius: 10%;
  }
  
  .img-container{ 
    height: 90%;
    width: 90%;
    border-radius: 10%;
    text-align: center;
  }
  
  .img-container:hover{
    opacity: 0.5;
  }
  
  .img-player{ 
    /* height: 60px;
    width: 60px; */
    border-radius: 10%;
  }
  
  
  
  .text-player{ 
    margin-left: 1%;
  }
  
  .player, header{
    position: fixed;
  }
  
  .player, nav{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
  }
  .player {
    bottom: 0;
    max-height: 5.4em;
    text-decoration: none;
    list-style-type: none;
  }
  .player .container .row, nav .container .row{
    justify-content: space-between;
  }
  
  .progress-bar{
    width: 100%;
  }
  
  /*#region navbar*/
  
  nav {
    vertical-align: top;
    top: 0;
    max-height: 4.4em;
  }
  
  
  main{
    padding-top: 5em;
    padding-bottom: 5em;
  }
  .main-btns{
    width: 100%;
  }
  .main-btns ul, .main-btns li{
    text-align: center;
  }
  .main-btns ul{
    list-style-type: none;
  }
  .main-btns li{
    display: inline;
  }
  .main-btns li a{
    text-decoration: none;
  }
  .main-btns li a:hover{
    background-color: var(--turquesa-color);
  }
  .main-logo{
    width: 60%;
  }
  .profile {
    width: 19%;
    border-radius: 50%;
  }
  
  
  /*#endregion navbar*/
  
  
  a {
    color: var(--primary-color);
  }
  
  
  
  .btn {
    background-color: var(--primary-color) !important;
    color: var(--bg-color) !important;
    
  }
  
  
  input[type=range]{
    -webkit-appearance: none;
    background-color: var(--gris-35-color);
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: linear-gradient(to right, var(--turquesa-color) 0%, var(--turquesa-color) 50%, var(--gris-15-color) 50%, var(--gris-15-color));
  
    border-radius: 10px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: var(--turquesa-color);
    margin-top: -4px;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--turquesa-color);
  }
  @media only screen and (max-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    /* [class*="col-"] {
        width: 50%;
        margin: 0 auto;
        padding: 2px;
      } */
  }
  
  .box{
    width: calc(26.3333% - 32px);
    justify-self: center;
    align-self:   center;
    margin: 2px;
    float: left;
  } 

body {
  height: 100%;
}

.img-container{ 
    height: 90%;
    width: 90%;
    border-radius: 10%;
    text-align: center;
  }
  
  .img-container:hover{
    opacity: 0.5;
  }

  article{
    padding: 1.2em;
    display: block;
  }
  article div{
    padding-top: 0.3em;
    padding-bottom: 0.2em;
  }


body {
  margin: 0;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#wrapper {
    display: flex;
  }
  
  #wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
  }
  
  .flex-column {
    flex-direction: column!important;
  }
  
  .d-flex {
    display: flex!important;
  }
  
  #wrapper #content-wrapper #content {
    flex: 1 0 auto;
  }
  
  .container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .text-dark {
    color: #5a5c69!important;
  }
  
  .mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
  }
  
  .h3, h3 {
    font-size: 1.75rem;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  
  .shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #fff;
    background-clip: border-box;
    border-radius: .35rem;
  }
  
  .card-header:first-child {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
  }
  
  .pb-3, .py-3 {
    padding-bottom: 1rem!important;
  }
  
  .pt-3, .py-3 {
    padding-top: 1rem!important;
  }
  
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
  }
  
  .text-primary {
    color: #4e73df!important;
  }
  
  .font-weight-bold {
    font-weight: 700!important;
  }

  .container-fluid {
    background: #333!important;
  }
  
  .m-0 {
    margin: 0!important;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #333;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
  }
  
  .text-nowrap {
    white-space: nowrap!important;
  }
  
  @media (min-width:768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
  }
  
  .text-nowrap {
    white-space: nowrap!important;
  }
  
  body {
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #858796; */
    text-align: left;
    /* background-color: #fff; */
    background-color: #212121;
  }
  
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  
  .custom-select:focus {
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  @media (prefers-reduced-motion:reduce) {
    .custom-control-label:before, .custom-file-label, .custom-select {
      transition: none;
    }
  }
  
  .custom-control-label:before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .custom-select-sm {
    height: calc(1.5em + .5rem + 2px);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
  }
  
  .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    vertical-align: middle;
    background: url([svg]) no-repeat right .75rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  
  @media (prefers-reduced-motion:reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  select {
    word-wrap: normal;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  @media (min-width:768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
  }
  
  @media (min-width:768px) {
    .text-md-right {
      text-align: right!important;
    }
  }
  
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  
  .form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .form-control-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
  
  @media (prefers-reduced-motion:reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  [type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
  }
  
  button, input {
    overflow: visible;
  }
  
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .mt-2, .my-2 {
    margin-top: .5rem!important;
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .mb-0, .my-0 {
    margin-bottom: 0!important;
  }
  
  .mt-0, .my-0 {
    margin-top: 0!important;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
  }
  
  table {
    border-collapse: collapse;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
  }
  
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
  }
  
  th {
    text-align: inherit;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
  }
  
  .align-self-center {
    align-self: center!important;
  }
  
  @media (min-width:768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  @media (min-width:768px) {
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width:992px) {
    .justify-content-lg-end {
      justify-content: flex-end!important;
    }
  }
  
  @media (min-width:992px) {
    .d-lg-flex {
      display: flex!important;
    }
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .35rem;
  }
  
  dl, ol, ul {
    margin-top: 0;
  }
  
  address, dl, ol, ul {
    margin-bottom: 1rem;
  }
  
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .35rem;
  }
  
  .page-item.disabled .page-link {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dddfeb;
  }
  
  .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .35rem;
    border-bottom-left-radius: .35rem;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .page-link:hover {
    z-index: 2;
    color: #224abe;
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #dddfeb;
  }
  
  a:focus {
    outline: none;
  }
  
  a:hover {
    color: #224abe;
    text-decoration: underline;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
  }
  
  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .page-link:hover {
    z-index: 2;
    color: #224abe;
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #dddfeb;
  }
  
  a:focus {
    outline: none;
  }
  
  a:hover {
    color: #224abe;
    text-decoration: underline;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
  }
  
  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .page-link:hover {
    z-index: 2;
    color: #224abe;
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #dddfeb;
  }
  
  a:focus {
    outline: none;
  }
  
  a:hover {
    color: #224abe;
    text-decoration: underline;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
  }
  
  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #224abe;
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #dddfeb;
  }
  
  a:focus {
    outline: none;
  }
  
  a:hover {
    color: #224abe;
    text-decoration: underline;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
  }
  
  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }
  
  .page-item:last-child .page-link {
    border-top-right-radius: .35rem;
    border-bottom-right-radius: .35rem;
  }
  
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78,115,223,.25);
  }
  
  .page-link:hover {
    z-index: 2;
    color: #224abe;
    text-decoration: none;
    background-color: #eaecf4;
    border-color: #dddfeb;
  }
  
  a:focus {
    outline: none;
  }
  
  a:hover {
    color: #224abe;
    text-decoration: underline;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4e73df;
    background-color: #fff;
    border: 1px solid #dddfeb;
  }
  
  a {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
  }
  
                                                                  